<div class="input-box">
	<h4>Search an artist here</h4>
	<input id="" placeholder="" ng-model="leftQuery" ng-model-options="{ debounce: 500 }">
	<div ng-repeat="artist in leftQueryResults">
		<div ng-click="setArtist('left',artist)">{{artist.name}}</div>
	</div>
	<!-- <h6>{{ artistLeft }}</h6> -->
</div>
<div class="input-box">
<h4>Search another here</h4>
	<input id="" placeholder="" ng-model="rightQuery" ng-model-options="{ debounce: 500 }">
	<div ng-repeat="artist in rightQueryResults">
		<div ng-click="setArtist('right',artist)">{{artist.name}}</div>
	</div>
	<!-- <h6>{{ artistRight }}</h6> -->
</div>


