<div class="container">

  <div class="row">
    <div col-xs-12>
      <!-- <button type="button" class="btn btn-default" ng-click="implicitGrant()">Authorize</button> -->
      <a ng-href="{{implicitGrant}}">{{implicitGrant}}</a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
    	<p>{{artistLeft.label}}</p>
      <input type="text" ng-model="artistLeft.id" ng-model-options="{ debounce: 800 }" onclick="" placeholder="Enter artist name" autofocus />
    </div>
    <div class="col-xs-6">
    	<p>{{artistRight.label}}</p>
    	<input type="text" ng-model="artistRight.id" ng-model-options="{ debounce: 800 }" onclick="select()" placeholder="Enter artist name"/>
    </div>
  </div>
  <div class="row">
  	<div class="col-xs-12">
  		<button type="button" class="btn btn-default" ng-click="fetchRelated(artistLeft.id,artistRight.id)">Go</button>
      <button type="button" class="btn btn-default" ng-click="drawGraph(network)">Network</button>
      <button type="button" class="btn btn-default" ng-click="saveData('json')">Save (json)</button>
  	</div>
  </div>

</div>

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12">
      <artists-network></artists-network>
    </div>
  </div>

</div>


